$filterHeight: 56.563px;

.table-toolbar {
  display: flex;
  justify-content: space-between;

  .table-filter {
    width: 50%;
    max-width: 500px;
  }

  .table-toolbar-extra-content {
    display: block;
    height: 36px;
  }
}

.table-content {
  width: 100%;
  height: calc(100% - #{$filterHeight});
  overflow-y: auto;
  background-color: #efefef;

  .table {
    width: 100%;

    .mat-header-cell {
      color: black;
      font-weight: bold;
    }

    tr:not(.mat-header-row):hover,
    .selected-row {
      background: #eaddf2;
    }
  }
}
