$toolbar-height: 64px;
$margin: 20px;
$title-height: 48px;

.icon {
  width: 200px;
  height: 40px;
  background-image: url('../assets/img/logo.png');
  background-size: 200px 40px;
}

.content {
  margin: $margin;
  height: calc(100% - #{$toolbar-height} - #{$margin * 2} - #{$title-height});
}
