<h2 mat-dialog-title>{{literal.title | translate}}</h2>

<mat-dialog-content class="mat-typography">
  <div class="new-transaction-content" [formGroup]="form">
    <div class="form from-wallet">
      <h3>{{literal.from | translate}}</h3>
      <!-- FROM USER -->
      <mat-form-field class="form-item" appearance="outline">
        <mat-label>{{literal.user | translate}}</mat-label>
        <input matInput type="text" formControlName="fromUsername">
      </mat-form-field>
      <!-- FROM WALLET -->
      <mat-form-field class="form-item" appearance="outline">
        <mat-label>{{literal.wallet | translate}}</mat-label>
        <input matInput type="text" formControlName="fromWalletName">
      </mat-form-field>
      <!-- FROM AMOUNT -->
      <div class="amount">
        <mat-icon class="pre-input">chevron_right</mat-icon>
        <mat-form-field class="form-item" appearance="outline">
          <mat-label>{{literal.amount | translate}}</mat-label>
          <input matInput type="number" formControlName="amount">
          <mat-icon matSuffix> attach_money</mat-icon>
          <mat-error *ngIf="form.get('amount').hasError('required')">
            {{literal.fieldRequired | translate}}
          </mat-error>
          <mat-error *ngIf="form.get('amount').hasError('min')">
            {{literal.invalidAmount | translate}}
          </mat-error>
        </mat-form-field>
        <mat-icon class="post-input">chevron_right</mat-icon>
      </div>
      <!-- FROM BALANCE -->
      <mat-form-field class="form-item" appearance="outline">
        <mat-label>{{literal.balance | translate}}</mat-label>
        <input matInput type="number" formControlName="fromBalance">
      </mat-form-field>
    </div>
    <div class="form to-wallet">
      <h3>To</h3>
      <!-- TO USER -->
      <mat-form-field class="form-item" appearance="outline">
        <mat-label>{{literal.destinationUser | translate}}</mat-label>
        <input matInput type="text" formControlName="toUser">
        <mat-error *ngIf="form.get('toUser').hasError('required')">
          {{literal.fieldRequired | translate}}
        </mat-error>
      </mat-form-field>
      <!-- TO WALLET -->
      <mat-form-field class="form-item" appearance="outline">
        <mat-label>{{literal.destinationWallet | translate}}</mat-label>
        <input matInput type="text" formControlName="toWallet">
        <mat-error *ngIf="form.get('toWallet').hasError('required')">
          {{literal.fieldRequired | translate}}
        </mat-error>
      </mat-form-field>
      <!-- TO BALANCE -->
      <mat-form-field class="form-item" appearance="outline">
        <mat-label>{{literal.balance | translate}}</mat-label>
        <input matInput type="number" formControlName="toBalance">
      </mat-form-field>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>{{literal.cancel | translate}}</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="getTransaction()" cdkFocusInitial>{{literal.add | translate}}</button>
</mat-dialog-actions>
