$gap: 20px;

.grid {
  display: grid;
  width: 100%;
  height: calc(100% - #{$gap});
  row-gap: $gap;
  column-gap: $gap;
  grid-template-rows: 35% 65%;
  grid-template-areas:
    "users wallets"
    "transactions transactions";

  .users {
    grid-area: users;
    background-color: red;
  }

  .wallets {
    grid-area: wallets;
    background-color: blue;
  }

  .transactions {
    grid-area: transactions;
    background-color: green;
  }
}
