<h2>{{literal.title | translate}}</h2>

<mat-form-field class="example-form-field">
  <mat-label>Filter</mat-label>
  <input matInput type="text" [(ngModel)]="filter" />
</mat-form-field>

<div class="wallets-content mat-elevation-z8">
  <table mat-table [dataSource]="wallets" class="wallets-table">
    <ng-container matColumnDef="walletName">
      <th mat-header-cell *matHeaderCellDef>{{literal.walletName | translate | uppercase}}</th>
      <td mat-cell *matCellDef="let wallet">{{wallet.walletName}}</td>
    </ng-container>

    <ng-container matColumnDef="balance">
      <th mat-header-cell *matHeaderCellDef>{{literal.balance | translate | uppercase}}</th>
      <td mat-cell *matCellDef="let wallet">{{wallet.balance}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
